language: generic

sudo: required
dist: bionic

jdk:
  - openjdk11

addons:
  apt:
    packages:
    - rename
    - lynx

git:
  depth: 1

script:
- cd feed
- find . -name '*.ipk' -type f | xargs rm -f
- find . -name '*Packages*' -type f | xargs rm -f
- ./get-alliance.sh
- ./get-pli.sh
- ./get-ts.sh
- ./get-common.sh
- find . -name '*.ipk' -size +98M | xargs rm -f
- chmod 755 IPKFeedGenerator.jar
- java -jar IPKFeedGenerator.jar
- cd ..
- git config --global user.email "bot@openvision.tech"
- git config --global user.name "Open Vision 3rdparty bot"
- git checkout master
- git add -u
- git add *
- ./build.sh

